.root {
    -fx-background: white;
    -fx-background-color: white;
    -slider-track-bg: #d0d0d0;
}

.spaced {
    -fx-spacing: 10;
}

.small-spaced {
    -fx-spacing: 4;
}

.bordered {
    -fx-padding: 6;
}

.content-pane{
   -fx-padding: 8;
   -fx-spacing: 10;
}

.grid {
    -fx-hgap: 8;
    -fx-vgap: 15;
}


.progress-slider .track {
    -fx-background-color:null;
}

.offset-slider .track {
     -fx-background-color:
              -fx-shadow-highlight-color,
              linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
              -slider-track-bg;
}

.progress-bar .bar {
    -fx-padding: 4px;
    -fx-background-insets: 0;
}

.progress-bar .track {
    -fx-background-color: linear-gradient(to bottom, derive(-slider-track-bg, -7%), derive(-slider-track-bg, 0%), derive(-slider-track-bg, -3%), derive(-slider-track-bg, -9%) );
}

.image-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.image-button > .glyph-icon {
    -fx-fill: rgba(0,0,0,0.6);
}

.image-button:hover > .glyph-icon{
    -fx-fill: rgba(0,0,0,0.8);
}

.image-button:pressed > .glyph-icon{
    -fx-fill: rgba(0,0,0,0.8);
}

.left-right-bordered {
    -fx-padding: 0 10 0 10;
}

.volume-button {
    -fx-font-size: 14px;
}

.settings-button {
    -fx-font-size: 16px;
}

.title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.8);
    -fx-padding: 2 2 15 2;
}

.back-button {
    -fx-padding: 2;
    -fx-font-size: 16px;
}

.back-button > .glyph-icon {
    -fx-fill: rgba(0,0,0,0.4);
}

.back-button:hover > .glyph-icon{
    -fx-fill: rgba(0,0,0,0.6);
}

.back-button:pressed > .glyph-icon{
    -fx-fill: rgba(0,0,0,0.6);
}

#connection-status-ok > .glyph-icon {
    -fx-fill: #27731F;
}

#connection-status-nok > .glyph-icon {
    -fx-fill: #D90D32;
}


.scroll-pane {
     -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
	-fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}


